<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="main-content">
      {{> header}}
      <p>It uses data from mapbox.com and weatherstack.com to get current weather updates.</p>
      <img class="potrait" src="/img/moon.jpeg" alt="Moon Image">
    </div>

      {{> footer}}
  </body>
</html>
